@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

$black-color: #000;
$green-color: #1db954;
$white-color: #ffffff;
$footer-color: #181818;
$body-color: #121212;
$side-bar-color: #000000;
$border-color: #282828;
$text-color: #a9a9a9;
